<% provide :title, "Targets" %>

<span class="btn-new">
  <%= link_to "New Target", new_target_path, class: "btn btn-success" %>
</span>

<h1>Targets</h1>

<% if @targets.length == 0 %>
  <span class="target-message">
    It looks like you don't have any targets yet. Why not
    <%= link_to "create one now?", new_target_path %>
  </span>
<% end %>

<%= will_paginate %>
<ol class="targets">
  <%= render @targets %>
  <%= will_paginate %>
</ol>
