<% provide :title, "Tasks" %>

<% if @tasks.length != 0 %>
  <span class="btn-new">
  <%= link_to "New Task", new_task_path, class: "btn btn-success" %>
  </span>
<% end %>

<h1>Tasks</h1>

<% if @tasks.length == 0 %>
  <span class="task-message">
    It looks like you don't have any tasks yet. Why not
    <%= link_to "create one now?", new_task_path %>
  </span>
<% end %>

<%= will_paginate %>
<ol class="tasks">
  <%= render @tasks %>
  <%= will_paginate %>
</ol>
