<% provide :title, "Show Task" %>
<h1><%= @task.name %></h1>
<h3><i><%= "due by " + @task.due_date.to_s %></i></h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <% if @task.is_complete %>
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-check"></span>
        <%= "Task complete" %>
      </div>
    <% else %>
      <% if @task.is_high_priority %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-list-alt"></span>
          <%= "High Priority Task active!" %>
        </div>
      <% else %>
        <div class="alert alert-warning" role="alert">
          <span class="glyphicon glyphicon-list-alt"></span>
          <%= "Task active" %>
        </div>
      <% end %>   
    <% end %>
  
    <blockquote><%= "Task: " + @task.description %></blockquote>

    <%= link_to "Edit", edit_task_path,
                      class: "btn btn-success btn-edit-cancel" %>
    <%= link_to "Cancel", tasks_path,
                        class: "btn btn-default btn-edit-cancel" %>

  </div>
</div>
