<% provide :title, "Diary Entries" %>

<span class="btn-new">
  <%= link_to "New Diary", new_diary_path, class: "btn btn-success" %>
</span>

<h1>Diary Entries</h1>

<% if @diaries.length == 0 %>
  <span class="diary-message">
    It looks like you don't have any diary entries yet. Why not 
    <%= link_to "create one now?", new_diary_path %> 
  </span>
<% end %>

<%= will_paginate %>
<ol class="diaries">
  <%= render @diaries %>
  <%= will_paginate %>
</ol>
