<% provide :title, "View Diary Entry" %>
<h1><%= @diary.title %></h1>
<h3><i><%= @diary.date.to_s %></i></h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <blockquote><%= @diary.entry %></blockquote>
    <%= link_to "Edit", edit_diary_path, class: "btn btn-primary" %>
    <%= link_to "Cancel", diaries_path, class: "btn btn-primary" %>
  </div>
</div>
