<% if logged_in? %>
  
  <div class="row">
    
    <aside class="col-md-3 targets-area">
      <section class="targets-area">
        <h3>Targets</h3>
        <% if @user.targets.any? %>
          <ol class="targets">
            <%= render @targets %>
          </ol>
          <%= link_to "more", targets_path, class:"more-link" %>
        <% else %>
          <span class="target-message">
            It looks like you don't have any targets yet. Why not
            <%= link_to "create one now?", new_target_path %>
          </span>
        <% end %>
      </section>
    </aside>
    
    <div class="col-md-6 diaries-area">
      <section class="">
        <h3>Diaries</h3>
        <% if @user.diaries.any? %>
          <ol class="diaries">
            <%= render @diaries %>
          </ol>
          <%= link_to "more", diaries_path, class:"more-link" %>
        <% else %>
          <span class="diary-message">
            It looks like you don't have any diary entries yet. Why not
            <%= link_to "create one now?", new_diary_path %>
          </span>
        <% end %> 
      </section>
    </div>
   
    <aside class="col-md-3 tasks-area">
      <section class="tasks-area">
        <h3>Tasks</h3>
        <% if @user.tasks.any? %>
          <ol class="tasks">
            <%= render @tasks %>
          </ol>
          <%= link_to "more", tasks_path, class:"more-link" %>
        <% else %>
          <span class="task-message">
            It looks like you don't have any tasks yet. Why not
            <%= link_to "create one now?", new_task_path %>
          </span>
        <% end %>
      </section>
    </aside>
  
  </div>
  
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Genjo!</h1>

    <h3>
      Genjo! is a language learner's best friend, and it's designed to make 
      the process of learning a foreign language more manageable.
    </h3>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <div class="row">
    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <p class="glyphicon glyphicon-pencil welcome-box-icon" aria-label="Diaries"></p>
        <div class="caption">
          <h3>Diaries</h3>
          <p class="center">
            Create daily diaries in your target language to help you absorb 
            what you are learning and to serve as a reminder of your progress.
          </p>
          <%= link_to "Learn more", help_path, class:"btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <p class="glyphicon glyphicon-stats welcome-box-icon" aria-label="Targets"></p>
        <div class="caption">
          <h3>Targets</h3>
          <p class="center">
            Create targets reflecting goals you are aiming towards, and Genjo! 
            will render these in clear progress charts to help you visual the 
            progress that you are making in an instant.
          </p>
          <%= link_to "Learn more", help_path, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <p class="glyphicon glyphicon-list-alt welcome-box-icon" aria-label="Tasks"></p>
        <div class="caption">
          <h3>Tasks</h3>
          <p class="center">
            Create a list of tasks that you need to complete to help you 
            advance your language learning goals, and Genjo! will show you 
            what tasks are completed and what tasks are outstanding.
          </p>
          <%= link_to "Learn more", help_path, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
 
  </div>
  
<% end %>
