<header class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Genjo!", root_path, class: "navbar-brand" %> 
    </div>
    <nav> 
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Diary", "#" %></li>
        <li><%= link_to "Targets", "#" %></li>
        <li><%= link_to "Tasks", "#" %></li>
        <li><%= link_to "Log in", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
